@import "~gridlex/src/gridlex";

.pb-0 {
    padding-bottom: 0 !important;
}

.mt-30 {
    margin-top: 30px !important; 
}

.mb-30 {
    margin-bottom: 30px !important;
}

.grid.pb-0 {
    > div[class~="col"], 
    > div[class*="col-"] {
        @extend .pb-0;
    }
}

.kk-container {
    max-width: 1280px;
    margin: 0 auto;
}

.kk-navbar {
    min-height: 3.25rem;

    > div {
        min-height: inherit;
    }

    div[class~="col"], 
    div[class*="col-"] {
        align-self: stretch;
    }
}

.kk-navbar-menu {
    text-align: right;
    // height: 100%;

    > a {
        display: inline-block;
    }
}

.box {
  position: relative;

  &__border {
    border: 2px solid #663c19; 
    border-radius: 10px;
  }

  &__header {
    position: absolute;
    margin: 0;
    display: inline-block;
    line-height: 1;
    top: -12px;
    left: 20px;
    background-color: #ffffff;
    padding: 0 15px;
  }

  &__content {
    padding: 30px 20px 25px;
  }
}
